body {
  width: 20rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

li {
  padding: 0.25rem;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

fieldset > div {
  display: flex;
  align-items: center;
}

/* ul.trigger-words > li {
  display: flex;
  justify-content: space-between;
} */

h3,
p {
  margin: 0;
}

input {
  height: 1rem;
  border: 1px solid antiquewhite;
  border-radius: 4px;
  padding: 4px;
}

button {
  height: 1.5rem;
  background-color: #ffffff;
  border: 1px solid antiquewhite;
  border-radius: 4px;
}

.word-contianer {
  margin-top: 1rem;
}

.list-element {
  display: flex;
  justify-content: space-between;
}

.input-container {
  margin-top: 1rem;
}